<div class="fotoDetail">
	<img src="{{img}}" alt="">
	<form action="/auth/fotoDetail/{{_id}}" method="POST">
	<button type = "submit">Remove from muy favorites..</button>
	</form>
	<div class="fotoDetailText">
		<p>Posted by : {{owner}}</p>
		<p>Tops, Outer : {{tops}}</p>
		<p>Pants : {{bottoms}}</p>
		<p>Shoes : {{shoses}}</p>
		<p>Accessories : {{acce}}</p>
	</div>
</div>