<div class="fotoDetail detailFoto">
	<div class="detail">
		<img src="{{img}}" alt="">
	</div>
	<div class="detailContext">
		<form action="/auth/fotoDetail/{{_id}}" method="POST">
		<button type = "submit">Remove</button>
		</form>
		<ul>
					<li>Tops, Outer: {{tops}}</li>
					<li>Pants : {{bottoms}}</li>
					<li>Shoes : {{shoses}}</li>
					<li>Accessories : {{acce}}</li>
				</ul>
	</div>
</div>