<div class="private">
	<div class="userInfo">
		<div class="userImg">
			<img src="{{photo}}" alt="">
		</div>
		<div class="userInfoText">
			<h2>{{username}}</h2>
			<p>{{follow.length}}</p>
		</div>
	</div>
	<form action="/auth/private" method="POST" enctype="multipart/form-data" class="privateForm">
		<h3>Post ootd</h3>
		<br>
		{{#if message}}
		<p>{{messsage}}</p>
		{{/if}}
		<br>
		<label for="img" class="postPhotoLabel">Choose photo
		<input required type="file" name="img" class="postPhoto">
		</label>
		<br>
		<label for="tops">Tops or Outer</label>
		<input required type="text" name="tops">
		<br>
		<label for="bottoms">Pants</label>
		<input required type="text" name="bottoms">
		<br>
		<label for="shoses">Shoes</label>
		<input required type="text" name="shoses">
		<br>
		<label for="acce">Accessories</label>
		<input required type="text" name="acce">
		<br>
		<br>
		<button type="submit">Upload!</button>
	</form>
	<div class="fotos">
		{{#each fotos}}
			<div class="foto">
				<img src="{{img}}" alt="">
				<a href="/auth/delete/{{_id}}">Delete</a>
			</div>
		{{/each}}
	</div>
</div>