<div class="private">
	<div class="userInfo">
		<div class="userImg">
			<img src="{{photo}}" alt="">
		</div>
		<div class="userInfoText">
			<h2>{{username}}</h2>
			<br>
			<ul>
				<li>
					<a href="/auth/following">Following : <span>{{follow.length}}</span></a>
				</li>
				<li>
					<a href="/auth/favorites">Favorites : <span>{{favorites.length}}</span></a>
				</li>
			</ul>
		</div>
	</div>

	<form action="/auth/private" method="POST" enctype="multipart/form-data" class="privateForm">
		<h3>Post ootd</h3>
		{{#if message}}
		<p>{{messsage}}</p>
		{{/if}}

		<div class="labels">
			<label for="img">Photo</label>
			<label for="img" class="postPhotoLabel">Choose photo
			<input required type="file" name="img" class="postPhoto">
			</label>
		</div>
		
		<div class="labels">
			<label for="tops">Tops or Outer</label>
			<input required type="text" name="tops">
		</div>

		<div class="labels">
			<label for="bottoms">Pants</label>
			<input required type="text" name="bottoms">
		</div>

		<div class="labels">
			<label for="shoses">Shoes</label>
			<input required type="text" name="shoses">
		</div>

		<div class="labels">
			<label for="acce">Accessories</label>
			<input required type="text" name="acce">
		</div>

		<button type="submit">Upload!</button>
	</form>

	<div class="fotos">
		{{#each fotos}}
			<div class="foto privateFoto">
				<img src="{{img}}" alt="">
				<a href="/auth/delete/{{_id}}">Delete</a>
			</div>
		{{/each}}
	</div>
</div>