<div class="mainIndex">
	<div class="mainIndex-title">
		<h1>just post ootd</h1>
	</div>
	{{#if message}}
	<p class="message">{{message}}</p>
	{{/if}}
	<div class="fotos">
		{{#each fotos}}
				<div class="foto">
					<img src="{{img}}" alt="">
					<p>name : {{owner}}</p>
					<a href="/user/detail/{{_id}}">Detail</a>
			</div>
		{{/each}}
		{{#each fotosArr}}
			<div class="foto">
				<img src="{{img}}" alt="">
				<p>name : {{owner}}</p>
				<a href="/user/detail/{{_id}}">Detail</a>
			</div>
		{{/each}}
	</div>
</div>
