<div class="detailFoto">
		<div class="foto">
			<img src="{{img}}" alt="">
			<p>{{tops}}</p>
			<p>{{bottoms}}</p>
			<p>{{shoses}}</p>
			<p>{{acce}}</p>
			<p>{{comment}}</p>
		</div>
		<a href="/user/aboutUser/{{ownerId}}">About {{owner}}</a>
</div>