<div class="detailFoto">
		<div class="detail">
			<img src="{{img}}" alt="">
		</div>
			<ul>
				<li>Tops, Outer: {{tops}}</li>
				<li>Pants : {{bottoms}}</li>
				<li>Shoes : {{shoses}}</li>
				<li>Accessories : {{acce}}</li>
			</ul>
		<a href="/user/aboutUser/{{ownerId}}">About {{owner}}</a>
</div>